*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body {
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
    overflow: hidden;
}


.text-center{
    text-align: center;
}

.color-white{
    color: white;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(1rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.index_heading {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img/background.jpg');
    background-size: cover;
    background-position: center;
}

.index_title{
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.index_welcome{
    font-weight: normal;
    font-size: 5vw;
    letter-spacing: .85vw;
}

.index_brand{
    font-weight: bold;
    font-size: 8vw;
    position: relative;
    transform: translateY(-25%);

}

.btn__primary{
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    bottom: 20vh;

}

.btn__primary{
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 2vh 5vw;
    background-color: #353A50;
    border-radius: 1vh;
}

.top{
    position: absolute;
    background-color: #FFFFFF;
    height: 10vh;
    width: 70%;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    border-radius: 2vh;
    box-shadow: 0px 12px 16px rgba(69, 91, 99, .2);
}

.top__arrow{
    height: 10vh;
    text-align: center;
}


#backArrow{
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-60%);
    height: 2vh;
    cursor: pointer;
}

.base{
    position: absolute;
    background-color: #2A2E43;
    height: 20vh;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    border-top: 1vh solid #3ACCE1;
    border-top-right-radius: 2vh;
    border-top-left-radius: 2vh;
}




.base__arrow {
    text-align: center;
    padding-top: 9vh;
    padding-bottom: 9vh;
}

.base__arrow img{
    height: 1.5vh;
    transform: rotate(-90deg);
    cursor: pointer;
}

.base__place{
    height: 20vh;
}

.base__place #description{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
}

.base__accept{

}

.base__accept #acceptButton{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.base__place h5{
    color: white;
    font-size: 2.5vh;
}

.base__place h6{
    color: #A1A3AC;
}

.top{
    opacity: 70%;
    transition: all .4s;
}

.top:hover{
    opacity: 100%;
}


.comming{
    height: 100%;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.comming p{
    height: 100%;
    color: #78849E;
}

.btn__accept{
    background-color: #3ACCE1;
    color:white;
    padding: 2vh 3vw;
    border: none;
    border-radius: 2vh;
    outline: none;

}

.base__place--tap30{
    padding: 2vh 3vw;
    border-radius: 2vh;
    background-color: #FF5722;
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 7vh;
    color: white;
    cursor: pointer;
}

.base__place--snapp{
    padding: 2vh 3vw;
    border-radius: 2vh;
    background-color: #03D873;
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 7vh;
    color: white;
    cursor: pointer;
}



#mapid {
    height: 80vh;
}